@use "src/styles/index" as *;

.chipAtomContainer {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 36px;
  max-height: 36px;

  &.middle {
    min-height: 36px;
    max-height: 36px;

    :global(.MuiChip-root) {
      padding: $padding-8 $padding-16;
      border-radius: 26px;
      height: auto;

      :global(.MuiChip-label) {
        font-family: $fontMedium;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 0;
      }

      :global(.MuiTouchRipple-root) {
        display: none;
      }

      :global(.MuiChip-deleteIcon) {
        margin: 0 0 0 6px;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
    }
  }

  &.small {
    :global(.MuiChip-root) {
      padding: $padding-8;
      border-radius: 16px;
      height: auto;

      :global(.MuiChip-label) {
        font-size: 14px;
        line-height: 16px;
        padding: 0;
      }

      :global(.MuiTouchRipple-root) {
        display: none;
      }

      :global(.MuiChip-deleteIcon) {
        margin: 0 0 0 4px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }


  &.Primary {
    :global(.MuiChip-root) {
      background: $colorBlue_900;


      :global(.MuiChip-label) {
        color: $colorWhite;
      }

      &:hover {
        background: $colorBlue_800;
      }

      &:active {
        box-shadow: none;
      }

      &.selected {
        background: $colorBlue_900;
      }

      &:global(.Mui-disabled) {
        opacity: 0.25;
      }
    }
  }

  &.Outlined {
    :global(.MuiChip-root) {
      border: 1px solid $colorBlue_900;
      background: transparent;

      :global(.MuiChip-label) {
        color: $colorBlue_900;

        span {
          color: $colorBlue_900;
        }
      }

      &:hover {
        background: $colorBlue_100;
      }

      &:active {
        box-shadow: none;
      }

      &.selected {
        background: $colorBlue_900;
        color: $colorWhite;

        :global(.MuiChip-label) {
          color: $colorWhite;

          span {
            color: $colorWhite;
          }
        }
      }

      &:global(.Mui-disabled) {
        opacity: 0.25;
      }
    }
  }

  &.Secondary {
    :global(.MuiChip-root) {
      background: $colorDeepGrey_050;


      :global(.MuiChip-label) {
        color: $colorDeepGrey_900;
      }

      &:hover {
        background: $colorGrey_100;
      }

      &:active {
        box-shadow: none;
      }

      &.selected {
        background: $colorBlue_900;
      }

      &:global(.Mui-disabled) {
        opacity: 0.25;
      }
    }

    svg {
      fill: $colorDeepGrey_900;
    }
  }
}
