@use "src/styles/index" as *;

.rangeSlider {
  .slider {
    color: $colorBlue_900;

    :global(.MuiSlider-rail), :global(.MuiSlider-track) {
      color: $colorBlue_900;
    }

    :global(.MuiSlider-thumb) {
      color: $colorBlue_900;
    }

    :global(.MuiSlider-markLabel) {
      color: #1E2238;
    }

    span {
      color: $colorWhite;
    }
  }
}