@use 'src/styles/index' as s;

.mainLayout {
  display: flex;

  .page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: s.$colorGrey_000;
    flex: 1;

    .content {
      padding: 32px;
      background: s.$colorWhite;
      border-radius: 16px;
      height: calc(100dvh - 84px);
    }
  }
}