@use 'src/styles/index' as *;

.pageContentLayout {
  display: flex;
  flex-direction: column;
  gap: $gap-8;
  background: $colorGrey_000;
  flex: 1;

  .headerContainer {
    width: 100%;
    padding: 20px;
    background: $colorWhite;
    min-height: 134px;

    @extend %shadowForBlock;
  }

  .contentContainer {
   // padding: 20px;
    /*height: calc(100dvh - 100px);*/
  }
}