$fontRegular: 'SF-Pro-Display-Regular';
$fontMedium: 'SF-Pro-Display-Medium';
$fontBold: 'SF-Pro-Display-Bold';

$colorWhite: #FFFFFF;

$colorDeepBlack_050: #E8E9EB;
$colorDeepBlack_100: #E8E9EB;
$colorDeepBlack_200: #BCBDC3;
$colorDeepBlack_300: #A5A7AF;
$colorDeepBlack_400: #8E909C;
$colorDeepBlack_500: #787A88;
$colorDeepBlack_600: #616474;
$colorDeepBlack_700: #4B4E60;
$colorDeepBlack_800: #35384C;
$colorDeepBlack_900: #1E2238;
$colorDeepBlack_1000: #242940;

$colorDeepGrey_000: #FAFAFA;
$colorDeepGrey_050: #F0F1F4;
$colorDeepGrey_100: #E1E2E8;
$colorDeepGrey_200: #D2D4DD;
$colorDeepGrey_300: #C3C5D1;
$colorDeepGrey_400: #B4B7C6;
$colorDeepGrey_500: #A5A9BA;
$colorDeepGrey_600: #969AAF;
$colorDeepGrey_700: #878CA3;
$colorDeepGrey_800: #787D98;
$colorDeepGrey_900: #696F8C;

$colorDarkTurquoise_050: #EAECEE;
$colorDarkTurquoise_100: #D6DADE;
$colorDarkTurquoise_200: #C1C8CD;
$colorDarkTurquoise_300: #ACB5BD;
$colorDarkTurquoise_400: #98A2AC;
$colorDarkTurquoise_500: #83909B;
$colorDarkTurquoise_600: #6E7D8B;
$colorDarkTurquoise_700: #596B7A;
$colorDarkTurquoise_800: #45596A;
$colorDarkTurquoise_900: #304659;

$colorBlue_000: #F5F8FE;
$colorBlue_050: #EBF1FC;
$colorBlue_100: #D7E3F9;
$colorBlue_200: #C3D5F7;
$colorBlue_300: #AFC7F4;
$colorBlue_400: #9BB9F1;
$colorBlue_500: #86AAEE;
$colorBlue_600: #729CEB;
$colorBlue_700: #5E8EE9;
$colorBlue_800: #4A80E6;
$colorBlue_900: #3672E3;

$colorRed_050: #FFF7F6;
$colorRed_100: #FFE0DA;
$colorRed_200: #FFD1C8;
$colorRed_300: #FFC2B5;
$colorRed_400: #FFB3A3;
$colorRed_500: #FFA391;
$colorRed_600: #FF947E;
$colorRed_700: #FF856C;
$colorRed_800: #FF7559;
$colorRed_900: #FF6647;

$colorPink_100: #FECCE0;
$colorPink_200: #FEB3D1;
$colorPink_300: #FE99C1;
$colorPink_400: #FD80B2;
$colorPink_500: #FD67A2;
$colorPink_600: #FC4D92;
$colorPink_700: #FC3483;
$colorPink_800: #FB1A74;
$colorPink_900: #FB0164;

$colorGrey_000: #FAFAFA;
$colorGrey_050: #EBEBEB;
$colorGrey_100: #D6D6D6;
$colorGrey_200: #C2C2C2;
$colorGrey_300: #ADADAD;
$colorGrey_400: #999999;
$colorGrey_500: #858585;
$colorGrey_600: #707070;
$colorGrey_700: #5C5C5C;
$colorGrey_800: #474747;
$colorGrey_900: #333333;

$colorOrange_100: #FFEDCC;
$colorOrange_200: #FFE4B3;
$colorOrange_300: #FFDB99;
$colorOrange_400: #FFD280;
$colorOrange_500: #FFC966;
$colorOrange_600: #FFC04C;
$colorOrange_700: #FFB733;
$colorOrange_800: #FFAE1A;
$colorOrange_900: #FFA500;


$colorRed_900: #d9232e;


$colorGreen_500: #69C272;
$colorGreen_400: #88d08f;

//оттенок сам написал, в палитре нет.
$colorGreen_100: #E3F4E5;

$gap-4: 4px;
$gap-8: 8px;
$gap-16: 16px;
$gap-24: 24px;
$gap-32: 32px;

$padding-4: 4px;
$padding-8: 8px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;