@import "src/styles/varibles";

.menu-atom-btn {
  &.MuiButton-root {
    .menu-label-item {
      font-family: $fontRegular;
      text-transform: none;
      color: $colorWhite;
    }
  }
}

.menu-primary {
  display: block;

  .MuiPaper-root {
    background: $colorDeepBlack_900;
    min-width: 200px;

    .MuiMenuItem-root {
      padding: 10px 24px;
      font-family: $fontRegular;
      color: $colorWhite;

      &:hover {
        background: $colorDeepBlack_800;
      }

      &.selected {
        border-left: 4px solid $colorPink_900;
        padding-left: 20px;
      }
    }
  }
}
