@use 'src/styles/index' as *;

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  .operationBlock {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    .filtersContainer {
      display: flex;
      gap: 0 12px;
      align-items: center;

      .searchInput {
        min-width: 300px;
      }

      .filterBtn {
        height: 40px;
        min-width: 40px;
        padding: 12px 0;
      }
    }

    .btnContainer {
      display: flex;
      gap: 8px;
    }
  }
}


.contentBaseView {
  height: 100%;
  width: 100%;

  .filterContainer {
    padding-bottom: 8px;
    border-bottom: 1px solid $colorGrey_100;

    .fastFiltersContainer {
      display: flex;
      gap: 16px;

      .labelChip {
        display: flex;
        gap: 0 4px;

        .text {
        }

        .count {

        }
      }
    }

    .filtersChipContainer {
      margin-top: 16px;
      display: flex;
      gap: $gap-8 $gap-16;
      flex-wrap: wrap;

      .label {
        font-family: $fontBold;
      }
    }
  }
}