@import "src/styles/varibles";

.breadcrumbs-container {
  min-height: 39px;
  border-bottom: 1px solid $colorGrey_050;
  display: flex;
  align-items: center;

  a, span, li {
    font-size: 12px;
    color: $colorDarkTurquoise_400;
  }

  .now-item {
    color: $colorDarkTurquoise_900;
  }

  /*a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }*/
}
