@use "src/styles/varibles" as *;

.breadcrumbsContainer {
  display: flex;
  align-items: center;

  a, span, li {
    font-size: 13px;
    line-height: 20px;
    font-family: $fontBold;
    color: $colorDeepBlack_700;
  }

  .nowItem {
    color: $colorDarkTurquoise_900;
  }
}
