@use "src/styles/index" as *;

.dialogCompContainer {
  :global(.MuiPaper-root) {
    padding: 20px 24px;
    min-width: 304px;
  }

  :global(.MuiDialogTitle-root, .MuiDialogActions-root) {
    padding: 0;
  }

  :global(.MuiDialogContent-root) {
    padding: 6px 0 6px 0;
  }


  .dialogTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0;

    .title {
      font-size: 20px;
      color: $colorDarkTurquoise_900;
      font-weight: 600;
    }

    .closeIcon {
      cursor: pointer;
      fill: $colorDeepGrey_300;
    }
  }

  .dialogContent {
    margin: 10px 0 26px 0;
    font-size: 16px;
    line-height: 19px;
    color: $colorDeepGrey_900;

    > * {
      color: $colorDeepGrey_900;
    }
  }

  .dialogActions {
    display: flex;
    gap: $gap-8;

    .submitBtn {
      width: 100%;
    }
  }
}
