@use "src/styles/index" as *;

.datePickerRangeAtom {
  .content {
    display: flex;
    gap: 0 $gap-8;
    align-items: center;
    font-size: 14px;
  }
}

.pop {
  .content {
    display: flex;
    flex-direction: column;
    gap: $gap-8 0;
  }
}